.sticker {
    cursor: pointer;
    width: 90px;
    height: 90px;
    margin: 3px;
}

.stucker {
    position: absolute;
    width: 90px;
    height: 90px;
}

#drawingZone {
    width: 400px;
    height: 300px;
    border: 1px solid #000;
    position: relative;
    overflow: hidden;
}

#stickers {
    display: flex;
}